/**
    Style 1:
    Yellow: #EFFF6A
    Orange Yellow: #F2ED65
    Shamrock green: #53FFA9
    Turqoise: #5CE2C9
    Blue: #20B9FF
**/


h1 {
    color: #000000;
    font-size: 100px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 100px;
    font-family: "montserrat";
    padding-top: 50px;
}

body {
  background-color: #ffffff;
}

h3 { /* This is the size for the explanation of headers */
  font-size: 36px;
  font-family: montserrat;
  text-align: center;
  color: #000000;
}

#menu li {
  display: inline;
  list-style-type: none;
  padding-right: 40px;
  font-size: 24px;
  color: #fa8072;
  font-family: montserrat;
  float: left;

}

#menu {
  text-align:center;
  padding:0px;
}

a:visited {
  color: #000000;
}

#menu a:hover {
  color: #fa8072;
}

h3 a:hover {
  color: #fa8072;
}

.bar {
  background-color: #72FA80;
  height: 100px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.logo {
  width: 75px;
  height: 75px;
  float: left;
  display: block;
  margin-top: 25px;
  margin-left: 10px;
}

.else {
  margin-right: 10px;
  margin-top: 20px;
  height: 75px;
  width: 500px;
  display: inline;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
}

textarea {
  display: block;
  float: left;
  height: 150px;
  width:900px;
  resize: none;
  margin:0 auto;
  resize: none;
}

.question {
  width: 1000px;
	height: 200px;
  /*border: 3px solid #000000;
	padding: 5px; */
	font-family: Tahoma, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.select {
  width: 1000px;
	height: 75px;
	font-family: Tahoma, sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h5 { /* Question font size in info section */
  font-size: 24px;
  font-family: montserrat;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}

.ask {
  width: 1000px;
	height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-left: 15px;
}

h6 { /* Text size for answer to question in info section */ /* edit h6 for .entry and for info section */
  font-family: montserrat;
  text-align: left;
  color: #000000;
  margin-top: -10px;
  font-size: 16px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

h6 a {
  color: #000000;
}

.entry {
	height: 100%;
  margin-right: auto;
  width: 90%;
  margin-left: auto;
  border-style: solid;
  border-color: #ededed;
  padding: 10px 5px;
  padding-left: 5px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
}

.entry p {
  font-family: montserrat;
  margin-top: -30px;
  margin-bottom: 30px;
  padding-top: 10px;
  font-size: 16px;
}

.entry h5 { /* edit h5 for .entry and for info section */
  margin-top: 5px;
  padding-bottom: 10px;
}
